
fieldset{
  border: 0.36em solid black;
  padding: 5%;
  margin-bottom: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: center;
}

body{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  padding: 10%;
  margin: 1em;
  font-size: 1.33em;
  background-color: yellow;
}

h1, h2, h3{
  font-family: 'Bangers', cursive, sans-serif;
  position: center;
  
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: center;
}

p, label, input, button{
  font-family: 'Arial', sans-serif;
}

@media(min-width: 480px){
  fieldset{
	border: 0.36em solid black;
	padding: 4%;
	width: 70%;
	position: relative;
}
  body{
	padding: 8%;
	margin: 0.776em;
    font-size: 1em;
}

@media(min-width: 992px){
  fieldset{
	border: 0.28em solid black;
	padding: 4%;
	width: 65%;
	position: relative;
  }
  body{
	padding: 7%;
	width: 60%;
	position: relative;
  }
}